Other/.vscode/settings.json
Other/pract.ipynb
PROJECT-1. Анализ резюме из HeadHunter/Project-1. Ноутбук-шаблон.ipynb
PROJECT-1. Анализ резюме из HeadHunter/data/dst-3.0_16_1_hh_database.csv
PROJECT-1. Анализ резюме из HeadHunter/data/ExchangeRates.csv
PROJECT-1. Анализ резюме из HeadHunter/data/dst-3.0_16_1_hh_database_clean.csv
Project_0-0/game_v2.cpython-39.pyc
Project_0-0/game_v2.py
Project_0-0/game.ipynb
Project_0-0/game.py
Project_0-0/__pycache__/game_v2.cpython-311.pyc
