*.json
*.csv
*.zip
.gitignore

PROJECT-1. Анализ резюме из HeadHunter/Project-1. Ноутбук-шаблон.ipynb

PROJECT-2. Анализ вакансий из HeadHunter/Python_and_SQL.ipynb
PROJECT-2. Анализ вакансий из HeadHunter/Project_2_Ноутбук_шаблон.ipynb

PROJECT-4. Задача классификации/Project_4_ML_шаблон.ipynb

PROJECT-5. Задача регрессии/Project-5._Ноутбук-шаблон.ipynb

PROJECT-6. Сегментирование клиентов/Project-6._Ноутбук-шаблон.ipynb

Итоговый проект. Государственные деньги у НКО/Государственные деньги у НКО.ipynb
