Other/.vscode/settings.json
Other/pract.ipynb
PROJECT-1. Анализ резюме из HeadHunter/Project-1. Ноутбук-шаблон.ipynb
PROJECT-1. Анализ резюме из HeadHunter/data/dst-3.0_16_1_hh_database.csv
PROJECT-1. Анализ резюме из HeadHunter/Project-1. Ноутбук.ipynb
PROJECT-1. Анализ резюме из HeadHunter/data/ExchangeRates.csv
